html, body, .game
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tp-dfwv
{
    top: 20px !important;
    right: 30px !important;
    width: 400px !important;
}

.tp-lblv_v
{
    width: 200px !important;
}