.circuit-timer
    --size 10vmin
    display none
    align-items center
    justify-content center
    position absolute
    bottom 10vh
    left 0
    width 100%
    height var(--size)
    color #ffffff
    font-size var(--size)
    font-weight 700
    white-space nowrap
    z-index 10000

    > span
        display block
        width calc(6vmin)
        text-align center


    &.is-visible
        display flex