/* @import url('./blackFriday.css'); */
@import url('./tweakpane.css');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button, input
{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

button
{
    cursor: pointer;
}

html, body, .game, .modals
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html
{
    background: radial-gradient(farthest-side at 0 0, #251f2b, #1d1721);
    /* background: radial-gradient(farthest-side at 0 0, #251f2b 99%, #ff0000); */
    font-size: 20px;
}

.fonts-loader
{
    position: fixed;
    top: calc(100% + 1px);
    left: 0;
}

.fonts-loader .nunito
{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fonts-loader .amatic-sc
{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
}

.title
{
    margin-bottom: 0.25em;
    font-size: 2.5rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text
{
    margin-bottom: 0.75em;
    font-size: 1rem;
}

.text-small
{
    font-size: 0.8rem;
}

.text-faded
{
    opacity: 0.8;
}

.text-align-right
{
    text-align: right;
}

.text-align-center
{
    text-align: center;
}

.modals
{
    display: none;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s;
}

.modals.is-displayed
{
    display: flex;
}

.modals.is-visible
{
    opacity: 1;
}

.modals .modal
{
    display: none;
}

.modals .modal.is-displayed
{
    display: block;
}

.modals *::selection {
  color: #251f2b;
  background-color: #ffffff;
}

.modals .container
{
    display: flex;
    width: 1000px;
}

.modals .preview
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    padding-bottom: 10%;
}

.modals .preview .message
{
    position: relative;
    background: #251f2b;
    padding: 0 15px 4px 15px;
    font-size: 2.5rem;
    white-space: nowrap;
    color: #ffffff;
    border: none;
    outline: none;
}

.modals .preview .background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modals .content
{
    position: relative;
    width: 50%;
    padding: 25px 40px 40px 40px;
    background: radial-gradient(ellipse at top left, #251f2b, #1d1721);
}

.modals .content .close
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38px;
    right: 38px;
    width: 40px;
    height: 40px;
    opacity: 0.65;
}

.modals .content .close:hover
{
    opacity: 1;
}

.modals .content .input-group
{
    display: flex;
    width: 100%;
    height: 58px;
    margin-top: 1.5em;
}

.modals .content .input-group.is-valide button
{
    cursor: pointer;
    border-color: #ffceca;
}

.modals .content .input-group.is-valide button svg *
{
    stroke: #ffceca;
}

.modals .content .input-group input[type=text]
{
    border-radius: 8px 0 0 8px;
    border: 1px solid #555555;
    width: calc(100% - 62px);
    padding: 0 15px;
}

.modals .content .input-group button
{
    padding: 0 8px 0 4px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #555555;
    width: 62px;
    cursor: default;
}

.modals .content .input-group button svg *
{
    stroke: #555555;
}

.modals .content .text a
{
    color: inherit;
    text-decoration: underline;
}

.modals .content .text-button
{
    vertical-align: top;
    cursor: pointer;
    border-color: #ffceca;
    opacity: 0.8;
    padding: 0 16px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #ffffff;
}

.modals .content .text-button:hover
{
    opacity: 1;
}

.modals .content .audio-toggle img.audio-off
{
    display: block;
}

.modals .content .audio-toggle img.audio-on
{
    display: none;
}

.modals .content .audio-toggle.is-active img.audio-on
{
    display: block;
}

.modals .content .audio-toggle.is-active img.audio-off
{
    display: none;
}

.modals .content .mobile
{
    display: none;
}

.modals .content .start
{
    display: block;
}


@media only screen and (orientation: portrait)
{
    .modals .container
    {
        flex-direction: column;
        width: 500px;
    }

    .modals .preview
    {
        width: auto;
        min-height: 250px;
    }

    .modals .content
    {
        width: auto;
    }
}

@media only screen and (max-width: 1024px), only screen and (orientation: portrait)
{
    .modals .content .mobile
    {
        display: block;
    }

    .modals .content .start,
    .modals .content .close
    {
        display: none;
    }
}

@media only screen and (max-width: 520px)
{
    html
    {
        font-size: 16px;
    }

    .modals .container
    {
        width: 400px;
    }

    .modals .content
    {
        padding: 20px 30px 30px 30px;
    }
}

@media only screen and (max-width: 420px)
{
    html
    {
        font-size: 13px;
    }

    .modals .container
    {
        width: 320px;
    }

    .modals .content
    {
        padding: 15px 20px 20px 20px;
    }
}